body {
  width: 100%;
  height: 100%;
  margin: 0;
  color:lightcoral;
  text-align: center;
  max-width: 800px;
}
title {
  color:lightskyblue;
  text-align: center
}
a {
  color: burlywood;
  text-align: center;

}
p {
  width: 100%;
  height: 100%;
  margin: 0;
  color:lightcoral;
  text-align: center;
  max-width: 800px;
}
img {
  width: 100%;
  height: 100%;
  margin: 0;
  color:lightcoral;
  max-width: 750px;
}
div {
  float: left;
  width: 200px;
  text-align: center;
  background-color: indianred;
  width: 25%;
  color: whitesmoke
}